type fast_charger_sw, domain;
type fast_charger_sw, exec_type, system_file_type, file_type;

init_daemon_domain(fast_charger_sw)

allow fast_charger_sw self:capability2 block_suspend;
allow fast_charger_sw self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;

allow fast_charger_sw sysfs_graphics:dir search;
allow fast_charger_sw sysfs_graphics:file r_file_perms;

allow fast_charger_sw sysfs_usb_supply:dir search;
allow fast_charger_sw sysfs_usb_supply:file rw_file_perms;
