allow system_server system_keylayout_file:file r_file_perms;

allow system_server vfmService:process signull;

allow system_server vfsspi_device:dir search;
allow system_server vfsspi_device:fifo_file rw_file_perms;

allow system_server vfsspi_system_file:file { execute getattr open read };
